footer{
    display: flex;

    bottom: 0;
    margin-bottom: 60px;
}

footer .col{
    margin-right: 34px;
}

footer .col + .col{
    margin-right: 0;
}

#page-home footer .col p a,
#page-create-point footer .col p a,
#page-search-results footer .col p a
{
    color: var(--title-color);
    font-size: 16px;
}

#page-home footer .col p,
#page-create-point footer .col p,
#page-search-results footer .col p
{
    font-size: 16px;
    color: var(--title-color);
}

#page-home footer .col{
    display: flex;
}

#page-home footer p a:hover, 
#page-create-point footer p a:hover,
#page-search-results footer p a:hover{
    color: var(--primary-color);
    opacity: 0.7;
    font-weight: bold;

    text-decoration: none;
}

#page-create-point footer,
#page-search-results footer{
    justify-content: center;
}